.Outer {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  border-radius: 2%;
  align-items: center;
  border: 2px solid black;
}

.ily2 {
  border-radius: 10%;
  /* z-index: 2;
  opacity: 0.7; */
}

.ily {
  padding: 1rem;
  border-radius: 3%;
  z-index: 9;
  /* border: max(1px, 0.0625rem) solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid grey;
}

input {
  background-color: white;
  border-radius: 2%;
  border-color: whitesmoke;
  width: 300px;
  height: 25px;
  font-size: medium;
}

input:focus-visible {
  outline-offset: 0px;
  outline-color: rgb(230, 213, 213);
}
