body {
  background: radial-gradient(
    circle,
    black 10%,
    purple 50%,
    teal 100%
  ) !important;

  background: radial-gradient(
    circle,
    pink 10%,
    rgb(252, 212, 138) 50%,
    lightblue 100%
  ) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
