:root {
  --background-color: linear-gradient(#addcee, white);
  --text-color: black;
  --button-bg: #0077ed;
  --button-text: whitesmoke;
}

.night-mode {
  --background-color: radial-gradient(
    circle,
    rgb(36, 1, 36) 10%,
    purple 50%,
    teal 100%
  );
  --text-color: white;
  --button-bg: black;
  --button-text: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
