body {
  background: radial-gradient(
    circle,
    rgb(36, 1, 36) 10%,
    purple 50%,
    teal 100%
  ) !important;

  background: linear-gradient(#addcee, white) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
